# Ignorar archivos de configuración
.env

# Ignorar directorios de dependencias
/node_modules

# Ignorar archivos generados
/public/build
/public/storage
/storage/*.key
/storage/framework/

# Ignorar archivos de caché
*.log
*.cache
*.swp

/vendor

npm-debug.log
yarn-error.log

public/storage/
